html, body {
    width:          100%;
    height:         100%;
    font-size:      16px;
    color:          white;
    font-weight:    100;
    font-family:    sans-serif, "Microsoft YaHei";
}

* {
    padding:        0;
    margin:         0;
    box-sizing:     border-box;
}

.layout {
    width:          300px;
    height:         480px;
    margin:         40px auto;
    border:         1px solid #22C3AA;
    border-radius:  4px;
    box-shadow:     4px 4px 2px #22C3AA;
    background: url("img/bg.jpg") center center / cover no-repeat;
}

.panel-1 {
    margin-top:     15px;
}

.panel-1::after {
    content:        '';
    display:        block;
    clear:          both;
    height:         2px;
    width:          300px;
    background-image:linear-gradient(to right, #c2c2c2, #676767,#c2c2c2);
}

.panel-1 #back {
    float:          left;
    margin-left:    10px;
    margin-top:     4px;
    height:         30px;
    width:          30px;
    text-align:     center;
    line-height:    30px;
    cursor:         pointer;
}

.panel-1 #title {
    float:          left;
    width:          80px;
    margin:         0 110px 0 10px;
    text-align:     center;
    line-height:    20px;
}

        #title h3 {
            font-size:          16px;
            font-weight:        600;
        }

        #title p {
            font-size:          12px;
            font-weight:        300;
            color:              #a2a2a2;
        }

.panel-1 #share {
    float:          left;
    margin-left:    10px;
    height:         30px;
    width:          30px;
    text-align:     center;
    line-height:    30px;
    cursor:         pointer;
}

.panel-2 {
    width:          300px;
    height:         240px;
    position:       relative;
}

        #needle {
            display:        inline-block;
            width:          60px;
            height:         88px;
            position:       absolute;
            top:            -3px;
            left:           140px;
            z-index:        9;
        }

        #record {
            display:        inline-block;
            width:          200px;
            height:         200px;
            position:       absolute;
            top:            50%;
            left:           50%;
            margin-top:     -80px;
            margin-left:    -100px;
        }

        #cover {
            display:        inline-block;
            width:          126px;
            height:         126px;
            position:       absolute;
            top:            50%;
            left:           50%;
            margin-top:     -42px;
            margin-left:    -62px;
            border-radius:  50%;
        }

.panel-3 {
    height:         60px;
    margin-top:     30px;
    display:        flex;
    justify-content:space-around;
}

.panel-4 {
    height:         14px;
    font-size:      12px;
    text-align:     center;
    color:          #fff;
}

.panel-4 .time {
    display:        inline-block;
    line-height:    14px;
}

        progress {
            width:          180px;
            height:         4px;
            border-radius:  2px;
        }

.panel-5 {
    height:         20px;
    margin-top:     20px;
    display:        flex;
    justify-content:space-around;
}

.panel-5 #channels {
    width:          20px;
    height:         3px;
    box-sizing:     content-box;
    padding:        5px 0;
    border-top:     3px solid gray;
    border-bottom:  3px solid gray;
    background-color: gray;
    background-clip:content-box;
}













